#navbar{
   
    width: 100%;
    display: flex;
    justify-content: space-between;
    
  
}

#navbar div {
    display: flex;
}


.active{
    color: rgb(248, 246, 246);
}




.inactive{
    color: blue;
}