#navbar{
   
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
  
}

#navbar div {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    width: auto;

}


.active{
    color: rgb(248, 246, 246);
}




.inactive{
    color: blue;
    font-weight: bold;
}