<div id="parent">
  <h1>Create todo</h1>
  <form #form="ngForm" id="form" (ngSubmit)="submitForm(form.value)">
    <input type="text" placeholder="Enter task" name="task" class="form-control" id="floatingInput" ngModel />
    <input type="text" placeholder="Enter description" name="description" class="form-control" id="floatingInput"
      ngModel />

    <button class="btn btn-outline-success">Submit</button>
  </form>

  <div class="box" *ngIf="taskArr.length; else loading" >
    <h1>All task</h1>
    <div id="black_parent">
      <div *ngFor="let task of taskArr | paginate:{itemsPerPage:6,currentPage:p}" id="block">
        <p><span class="text_heading">Task: </span> {{ task.task }}</p>
        <p>
          <span class="text_heading">Description: </span> {{ task.description }}
        </p>

      <p><span class="text_heading">Status: </span> <span class="status">  {{ task.important }} </span></p>
        

        <div class="button">

          <select name="singleSelect" id="" [(ngModel)]="selectedValue" class="form-select"
            aria-label="Default select example">
            <option value="" disabled selected>Select status</option>
            <option value="DONE">Done</option>
            <option value="IN PROGRESS">In Process</option>
            <option value="IN QA">IN QA</option>
          </select>

          <button class="btn btn-primary" [disabled]="selectedValue === ''" (click)="StatusTask(task)">Change</button>

          <span (click)="deleteTask(task)">
            <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/filled-trash.png"
              alt="filled-trash" />

          </span>
          <span (click)="editsTask(task)" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/create-new.png" alt="create-new" />
          </span>
        </div>
      </div>
    </div>

    <div id="pagination">
      <div class="pagination_child">

        <pagination-controls (pageChange)="p= $event"></pagination-controls>
      </div>

    </div>

  </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Form</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #editform="ngForm" (ngSubmit)="edittForm(editform.value)" class="modal-body">
          <input type="text" placeholder="Enter task" name="task" class="form-control" id="floatingInput" ngModel />
          <input type="text" placeholder="Enter description" name="description" class="form-control" id="floatingInput"
            ngModel />

          <button class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
          <div class="modal-footer"></div>
        </form>
      </div>
    </div>
  </div>
</div>


<ng-template #loading>
  <div class="loading">
    <h4>

      Loading...
    </h4>
  </div>
</ng-template>